.page{
    height: 100vh;
    display: flex;
    // display: grid;
    // grid-template-columns: auto 1fr;

    &__side-bar{
        flex-shrink: 0;
        width: 118px;
        padding: 14px;
        height: 100%;
        .side-bar{
            background-color: #7a40f2;
            border-radius: 20px;
            height: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;

            &__item{
                height: 95px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
            }
            &__item--active{
                .side-bar__icon{
                    path{
                        fill: #7a40f2;
                    }
                }
            }
            &__icon{
                z-index: 2;
                path{
                    fill: white;
                }
            }  
            &__indicator{
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transition: transform 300ms;
                path{
                    fill: white;
                }
            }
        }
    }

    &__main{
        flex-grow: 1;
        .header{
            height: 51px;
            margin: 35px 40px;
            display: flex;
            justify-content: space-between;
            &__search{
                height: 100%;
                width: 100%;
                margin-right: 50px;
                position: relative;
                img{
                    position: absolute;
                    left: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                input{
                    background-color: whitesmoke;
                    border: none;
                    border-radius: 15px;
                    padding: 0 52px;
                    height: 100%;
                    width: 100%;
                }
            }
            &__nav{
                display: flex;
                align-items: center;
            }
            &__button{
                margin-right: 35px;
            }
            &__user{
                color: black;
                display: flex;
                align-items: center;
                text-decoration: none;
                span{
                    margin: 0px 10px;
                }
                &:hover{
                    color: black;
                }
            }
        }
        .main{
            .banner{
                background-color:#ffecc8;
                border-radius: 28px;
                padding: 27px 25px;
                margin-bottom: 35px;
                position: relative;
                overflow: hidden;
                
                &__background{
                    background: url('/Project\ 1/image/banner.png') no-repeat;
                    // background-size: cover;
                    position: absolute;
                    right: 0;
                    width: 50%;
                    height: 100%;
                }
                p{
                    display: flex;
                    align-items: center;
                    width: 360px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                &__title, &__description{
                    color: #c45a01;
                }
                &__title{
                    font-size: 30px;
                }
                &__description{
                    font-size: 14px;
                }
                span{
                    font-size: 24px;
                    margin-right: 5px;
                }
                img{
                    margin-right: 5px;
                }
            }
            .banner__btm{
                margin-bottom: 30px;
                img{
                    margin-right: 5px;
                }
                span{
                    margin-right: 30px;
                }
            }
             .home-cards{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-gap: 38px;
                height: 136px;
            }
            .living-room-temperature{
                border: 1px solid #e6e5f2;
                border-radius: 28px;
                margin: 25px 0 25px 0;
                padding: 20px 30px;

                .temperature-control{
                    display: grid;
                    grid-template-columns: 155px 1fr 155px;
                    align-items: center;
                    justify-content: center;

                    &__button{
                        display: flex;
                        justify-content: center;
                        button{
                            width: 54px;
                            height: 54px;
                            border-radius: 12px;
                            background-color: whitesmoke;
                            border: none;
                        }

                        &--purple{
                            button{
                                color: #fff;
                                background-color: #7a40f2;
                            }
                        }
                    }
                }
            }
            &__right{
                background-color: whitesmoke;
                border-radius: 30px 0 0 30px;
                padding: 28px 30px;

                .section-title{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 18px;

                    button{
                        border-radius: 10px;
                        background-color: #edeef4;
                        border: none;
                        height: 100%;
                        width: 36px;
                    }
                }
                .My-device-cards{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    gap: 17px 17px;
                    height: 237px;
                }
            }
        }
        select{
            border: none;
            background-color: #edeef4;
            padding: 9px 16px;
            border-radius: 11px;
        }
        .mcard{
            border-radius: 25px;
            padding: 20px;
            border: solid 1px rgba(230, 229, 242, 0.81);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            //Hàm định nghĩa màu cho background
            @mixin background-card($color){
                background-color: $color;
                color: #fff;
                path{
                    fill: #fff;
                }
            }
            &-purple.mcard--active{
                // Gọi hàm
                @include background-card(#7a40f2)
            }
            &-yellow.mcard--active{
                // Gọi hàm
                @include background-card(#f4c427)
            }
            &-orange.mcard--active{
               // Gọi hàm
               @include background-card(#ff9060)
            }
            &-blue.mcard--active{
                // Gọi hàm
                @include background-card(#3acbe9)
            } 
        }
    }
    .avatar{
        width: 38px;
        height: 38px;
        border-radius: 50%;
        overflow: hidden;
    }
    .switch-button{
        display: inline-block;
        &__label{
            float: left;
            margin-bottom: 0;
            margin-right: 10px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        &__background{
            float: right;
            width: 28px;
            background-color: #d6d6d6;
            border-radius: 8px;
            padding: 1px;
            margin-bottom: 0;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        &__indicator{
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #fff;
        }
        input[value="true"] ~ .switch-button__background{
            background-color: #d6d6d6;
        }
        input[value="true"] ~ .switch-button__background > .switch-button__indicator{
            background-color: #7a40f2;
            margin-left: calc(100% - 15px);
        }
    }
    .mr-20{
        margin-right: 20px;
    }
}

